footer{
    height: 100px;
    background-color: black;
    width: 100%;
    display: flex;
    position: relative;
}

footer .pied{
    position: relative;
    color: rgb(175, 175, 175);
    text-align: center;
    font-size: 18px;
    width: 100%;
    margin-top: auto; margin-bottom: auto;
}

.rouge{
    color: rgb(255, 100, 100);
}